<% @page_title = @album.title %>
<h2>
  <%=h @album.title %>
</h2>

<ul id="photos">
	<%= render :partial => "photos/photo", :collection => @photos %>
</ul>

<p>
  <b>Description:</b>
  <%=h @album.description %>
</p>

<p>
  <b>Location:</b>
  <%=h @album.location %>
</p>

<%= link_to "all photos", album_photos_path(@album) %> |
<%- if logged_in? -%>
	<%= link_to 'Edit', edit_album_path(@album) %> |
<%- end -%>
<%= link_to 'Back', albums_path %>
