<% @page_title = @photo.title unless @photo.title.blank? %>

<h3>
	<%= link_to "#{@photo.album.title}'s Photos",
	 						album_photos_path(@album) %>
</h3>
<h2><%= h @photo.title %></h2>
<p><%= h @photo.description %></p>

Show size:
<br />
<%= image_tag @photo.photo.url %>
<br />
Thumbnail size:
<br />
<%= image_tag @photo.photo.url(:thumb) %>
<br />
Tiny size:
<br>
<%= image_tag @photo.photo.url(:tiny) %>
<br />
Poster:
<br>
<%= image_tag @photo.photo.url(:poster) %>
<br>

<%- if logged_in? -%>
	<%= link_to 'Edit', edit_album_photo_path(@album,@photo) %> |

	<%= link_to 'Delete', album_photo_path(@album,@photo),
	 											:confirm => 'Are you sure?', 
												:method => :delete %> |
<%- end -%>
<%= link_to 'Back', album_photos_path(@album) %>
											
<% if @photo.has_comments? -%>
	<li>
		<h3>Comments</h3>
		<ul class="comments">
			<%= render :partial => "comments/comment",
					   		 :collection => @photo.comments %>
		</ul>
	</li>
<% end -%>

<li>
	<h3>Add your comment!</h3>
	<%= render :partial => "comments/form", :locals => {:parent => @photo}  %>
</li>
