<div class="post">
	<div class="post-header">
		<div class="post-title"><%= link_to post.title, post%></div>
		<div class="post-header-right">
			<div style="height: 5px"></div>
			<div class="date">
				<%= post.created_at.to_s(:concise)%>
				<% if render_comments_count %>
					<img src="/assets/comment-balloon.png" alt="Comments: " />
					<%= post.comments.count %>
				<% end %>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<p>
		<%= post.body %>
		<% if read_more %>
			<%=link_to "read more", post, :class => "curly"%>
		<% end %>
	</p>
</div>