<% @page_title = @post.title %>

<ul class="chapters">
	<h2>
		<li>
			<div class="chapter_position">•</div>
			<%= @post.title %>
		</li>
	</h2>
	<p><%= @post.body %></p>
</ul>

<% if @post.has_comments? -%>
<li>
	<h3>Comments</h3>
	<ul class="comments">
		<%= render :partial => "comments/comment",
				   		 :collection => @post.comments %>
	</ul>
</li>
<% end -%>

<li>
	<h3>Add your comment!</h3>
	<%= render :partial => "comments/form", :locals => {:parent => @post}  %>
</li>

<%- if logged_in? -%>
	<p><%= link_to 'Edit', edit_post_path(@post) %> |
<%- end -%>
<%= link_to 'Back', posts_path %></p>