<% @page_title = @post.title %>

<div class="left">
	<%= render :partial => @post, :locals => {:render_comments_count => false,
											  :title_link => false,
											  :trim => false} %>
		
	<% if @post.has_comments? -%>
		<div class="comments">
			<div class="post-header">
				<div class="post-title">Comments</div>
				<div class="post-header-right">
					<div style="height: 5px"></div>
					<div class="date">
						<img src="/assets/comment-balloon.png" alt="Comments: " />
						<%= @post.comments.count %>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			
			<%= render :partial => @post.comments %>
		</div>
	<% end -%>
</div>

<div class="right">				
	<%= render :partial => "shared/sidebar", :object => {:posts => @recent_posts,
														 :albums => @recent_albums} %>
</div>


<p><%- if logged_in? -%>
	<%= link_to 'Edit', edit_post_path(@post) %> |
<%- end -%>
<%= link_to 'Back', posts_path %></p>