<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= page_title %>
	<%= meta "description", meta_description %>
	<%= meta "keywords", meta_keywords %>
  <%= stylesheet_link_tag 'scaffold', 'application' %>
	<%= auto_discovery_link_tag :rss, :controller => 'posts',
																		:action => 'index',
																		:format => 'rss' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<p>
	<% if logged_in? -%>
		<%= link_to "Logout", session_path, :method => :delete %>
	<% else -%>
		<%= link_to "Login", new_session_path %>
	<% end -%>
</p>
<br>

<%= yield  %>

</body>
</html>
